In [216]:
import scipy.stats as sps
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pylab
import statistics 
import cmath
import math
import seaborn as sns
from matplotlib import ticker
from math import factorial
from math import exp
from math import log
from math import inf
from scipy import integrate

In [425]:
def read_distr(files):
    with open(files) as file:
        array = [row.strip() for row in file]
    return (array)

def Round_array(array):
    for i in range (len(array)):
        array[i] = round(array[i],5)
    return array

# Задание 4_1

In [426]:
def Test(x, y, x_s, y_s, lenx, leny):
    return ((x-y)*math.sqrt((lenx*leny*(lenx+leny-2)) /(lenx+leny)))/(math.sqrt(x_s*(lenx-1)+y_s*(leny-1)))

In [427]:
sns.set(rc={'figure.figsize':(12,7)})

v = 46
distr4_1_1 = read_distr("norm4_1_1.txt")
# делем из str - float
for i in range(len(distr4_1_1)):
    distr4_1_1[i] = float(str(distr4_1_1[i]).replace(",", "."))

for i, item in enumerate(distr4_1_1):
    distr4_1_1[i] = float(item)
distr4_1_1.sort()
print(distr4_1_1)

[0.55546, 0.79825, 2.01106, 3.2687, 3.28208, 3.58187, 3.59965, 4.34591, 4.62077, 4.70914, 4.84853, 6.3475, 6.50959, 7.15112, 7.31459, 7.88458]

In [428]:
distr4_1_2 = read_distr("norm4_1_2.txt")
# делем из str - float
for i in range(len(distr4_1_2)):
    distr4_1_2[i] = float(str(distr4_1_2[i]).replace(",", "."))

for i, item in enumerate(distr4_1_2):
    distr4_1_2[i] = float(item)
distr4_1_2.sort()
print(distr4_1_2)

[1.65286, 2.20869, 2.81736, 3.32341, 3.60429, 3.6927, 3.77246, 3.89266, 4.09193, 4.11112, 4.15108, 4.66372, 4.92469, 5.21455, 7.0214, 7.58742]

In [429]:
distr4_1_3 = read_distr("norm4_1_3.txt")
# делем из str - float
for i in range(len(distr4_1_3)):
    distr4_1_3[i] = float(str(distr4_1_3[i]).replace(",", "."))

for i, item in enumerate(distr4_1_3):
    distr4_1_3[i] = float(item)
distr4_1_3.sort()
print(distr4_1_3)

[2.16711, 3.02712, 3.23247, 3.55408, 4.54032, 4.63644, 5.70413, 5.90394, 6.38193, 6.73067, 7.74293, 7.944, 8.37022, 8.77715, 8.80107, 11.13768]

In [430]:
total_distr = np.column_stack([distr4_1_1, distr4_1_2, distr4_1_3])

In [431]:
x_mean = sum(distr4_1_1)/len(distr4_1_1)
y_mean = sum(distr4_1_2)/len(distr4_1_2)
z_mean = sum(distr4_1_3)/len(distr4_1_3)

In [432]:
x_square_mean = 0
y_square_mean = 0
z_square_mean = 0
for i in range (len(distr4_1_1)):
    x_square_mean += distr4_1_1[i]**2
    y_square_mean += distr4_1_2[i]**2
    z_square_mean += distr4_1_3[i]**2
x_square_mean = x_square_mean/len(distr4_1_1)
y_square_mean = y_square_mean/len(distr4_1_2)
z_square_mean = z_square_mean/len(distr4_1_3)

In [433]:
x_S = (len(distr4_1_1)/(len(distr4_1_1)-1))*(x_square_mean-x_mean**2)
y_S = (len(distr4_1_2)/(len(distr4_1_2)-1))*(y_square_mean-y_mean**2)
z_S = (len(distr4_1_3)/(len(distr4_1_3)-1))*(z_square_mean-z_mean**2)

In [434]:
T1_2 = Test(x_mean, y_mean, x_S, y_S, len(distr4_1_1), len(distr4_1_2))
T1_3 = Test(x_mean, z_mean, x_S, z_S, len(distr4_1_1), len(distr4_1_3))
T2_3 = Test(y_mean, z_mean, y_S, z_S, len(distr4_1_2), len(distr4_1_3))
T_N_M = [T1_2, T1_3, T2_3]

In [435]:
t_kr = sps.t.ppf(0.975, 2*len(distr4_1_1)-2)

In [436]:
test = []
for i in range(len(T_N_M)): test.append(abs(T_N_M[i]) <= t_kr)

In [437]:
table4_1_1 = pd.DataFrame({
                        'x_mean':[x_mean, x_mean, y_mean],
                        'y_mean':[y_mean, z_mean, z_mean],
                        'x_square_mean':[x_square_mean,x_square_mean,y_square_mean],
                        'y_square_mean':[y_square_mean,z_square_mean,z_square_mean],
                        'x_S':[x_S,x_S,y_S],
                        'y_S':[y_S,z_S,z_S],
                        'T_N_M':[T1_2,T1_3,T2_3]
                        })
table4_1_1.index = ['(1,2)', '(1,3)', '(2,3)']
table4_1_1

,x_mean,y_mean,x_square_mean,y_square_mean,x_S,y_S,T_N_M
"(1,2)",4.426800,4.170646,24.226899,19.596505,4.939030,2.349029,0.379538
"(1,3)",4.426800,6.165704,24.226899,44.008850,4.939030,6.392477,-2.066292
"(2,3)",4.170646,6.165704,19.596505,44.008850,2.349029,6.392477,-2.699121

In [438]:
table4_1_2 = pd.DataFrame({
                        'T_N_M':[abs(T1_2),abs(T1_3),abs(T2_3)],
                        't_kr':[t_kr,t_kr,t_kr],
                        'Сonclusion':test
                        })
table4_1_2.index = ['(1,2)', '(1,3)', '(2,3)']
table4_1_2

          T_N_M      t_kr  Сonclusion
(1,2)  0.379538  2.042272        True
(1,3)  2.066292  2.042272       False
(2,3)  2.699121  2.042272       False

# Задание 4_2

In [439]:
def amount_square_devation(distr, total_average):
    amout_devation = 0
    for i in range(len(distr)):
        for j in range(3):
            amout_devation += (distr[i][j] - total_average)**2
    return(amout_devation)

In [440]:
total_average = (sum(distr4_1_1)+sum(distr4_1_2)+sum(distr4_1_3))/3/len(distr4_1_1)
group_average = (sum(distr4_1_1)+sum(distr4_1_2)+sum(distr4_1_3))/len(distr4_1_1)

In [441]:
total_distr

array([[ 0.55546,  1.65286,  2.16711],
       [ 0.79825,  2.20869,  3.02712],
       [ 2.01106,  2.81736,  3.23247],
       [ 3.2687 ,  3.32341,  3.55408],
       [ 3.28208,  3.60429,  4.54032],
       [ 3.58187,  3.6927 ,  4.63644],
       [ 3.59965,  3.77246,  5.70413],
       [ 4.34591,  3.89266,  5.90394],
       [ 4.62077,  4.09193,  6.38193],
       [ 4.70914,  4.11112,  6.73067],
       [ 4.84853,  4.15108,  7.74293],
       [ 6.3475 ,  4.66372,  7.944  ],
       [ 6.50959,  4.92469,  8.37022],
       [ 7.15112,  5.21455,  8.77715],
       [ 7.31459,  7.0214 ,  8.80107],
       [ 7.88458,  7.58742, 11.13768]])

In [442]:
amount_devation = amount_square_devation(total_distr, total_average)
amount_factor_devation = len(distr4_1_1)*(x_mean-total_average)**2 + len(distr4_1_2)*(y_mean-total_average)**2 + len(distr4_1_3)*(z_mean-total_average)**2

In [443]:
remaining_amount_devation = amount_devation - amount_factor_devation

In [444]:
k1 = 3-1
k2 = 3*(len(distr4_1_1)-1)

In [445]:
amount_factor_square_dev = amount_factor_devation/k1
amount_remaining_square_dev = remaining_amount_devation/k2
F_kr_value = amount_factor_square_dev/amount_remaining_square_dev

In [446]:
F_kr = sps.f.ppf(0.95,k1,k2)

In [447]:
table4_2_1 = pd.DataFrame({
                        'S_amount':amount_devation,
                        'S_factor':amount_factor_devation,
                        'S_rem':remaining_amount_devation,
                        'S_factor**2':amount_factor_square_dev,
                        'S_rem**2':amount_remaining_square_dev,
                        'k1':k1,
                        'k2':k2,
                        'F_kr_value':F_kr_value
                        },index=['value'])
table4_2_1

,S_amount,S_factor,S_rem,S_factor**2,S_rem**2,k1,k2,F_kr_value
value,242.912867,37.704829,205.208038,18.852414,4.560179,2,45,4.134139

In [448]:
table4_2_2 = pd.DataFrame({
                        'F_N_M':F_kr_value,
                        'p-value':0.05,
                        'F_kr(k1,k2)':F_kr,
                        'Conclusion':F_kr_value <= F_kr,
                        },index=['value'])
table4_2_2

          F_N_M  p-value  F_kr(k1,k2)  Conclusion
value  4.134139     0.05     3.204317       False

# Задание 4_3

In [449]:
pval1_2_1 = sps.ttest_ind(distr4_1_1, distr4_1_2, equal_var=True)
pval1_3_1 = sps.ttest_ind(distr4_1_1, distr4_1_3, equal_var=True)
pval2_3_1 = sps.ttest_ind(distr4_1_2, distr4_1_3, equal_var=True)
pval_1 = [pval1_2_1,pval1_3_1,pval2_3_1]
test_1 = []
for i in range(len(pval_1)): test_1.append(pval_1[i][1] >= 0.05)

In [450]:
table4_3_1 = pd.DataFrame({
                        'pval':[pval1_2_1[1], pval1_3_1[1], pval2_3_1[1]],
                        'alpha':[0.05, 0.05, 0.05],
                        'Conclusion':test_1,
                        })
table4_3_1.index = ['(1,2)', '(1,3)', '(2,3)']
table4_3_1

           pval  alpha  Conclusion
(1,2)  0.706962   0.05        True
(1,3)  0.047529   0.05       False
(2,3)  0.011308   0.05       False

# Задание 4_4

In [451]:
pval1_2_2 = sps.ttest_ind(distr4_1_1, distr4_1_2, equal_var=False)
pval1_3_2 = sps.ttest_ind(distr4_1_1, distr4_1_3, equal_var=False)
pval2_3_2 = sps.ttest_ind(distr4_1_2, distr4_1_3, equal_var=False)
pval_2 = [pval1_2_2,pval1_3_2,pval2_3_2]
test_2 = []
for i in range(len(pval_2)): test_2.append(pval_2[i][1] >= 0.05)

In [452]:
table4_4_2 = pd.DataFrame({
                        'pval':[pval1_2_2[1], pval1_3_2[1], pval2_3_2[1]],
                        'alpha':[0.05, 0.05, 0.05],
                        'Conclusion':test_2,
                        })
table4_4_2.index = ['(1,2)', '(1,3)', '(2,3)']
table4_4_2

           pval  alpha  Conclusion
(1,2)  0.707298   0.05        True
(1,3)  0.047675   0.05       False
(2,3)  0.012352   0.05       False

# Задание 4_5

In [453]:
pval4_5=sps.f_oneway(distr4_1_1,distr4_1_2,distr4_1_3)

In [454]:
table4_5_1 = pd.DataFrame({
                        'p-value':pval4_5[1],
                        'alpha':0.05,
                        'Conclusion':pval4_5[1] >= 0.05,
                        },index=['value'])
table4_5_1

        p-value  alpha  Conclusion
value  0.022477   0.05       False

# Задание 4_6

In [455]:
S_max1_2 = max(x_S,y_S)
S_max1_3 = max(x_S,z_S)
S_max2_3 = max(y_S,z_S)

S_min1_2 = min(x_S,y_S)
S_min1_3 = min(x_S,z_S)
S_min2_3 = min(y_S,z_S)

F_kr_1_2 = S_max1_2/S_min1_2
F_kr_1_3 = S_max1_3/S_min1_3
F_kr_2_3 = S_max2_3/S_min2_3

k14_6 = len(distr4_1_1)-1
k24_6 = len(distr4_1_1)-1

In [456]:
table4_6_1 = pd.DataFrame({
                        'S_1':[x_S, x_S, y_S],
                        'S_2':[y_S, z_S, z_S],
                        'k1':[k14_6,k14_6,k14_6],
                        'k2':[k24_6,k24_6,k24_6],
                        'F_N_M':[F_kr_1_2,F_kr_1_3,F_kr_2_3]
                        })
table4_6_1.index = ['(1,2)', '(1,3)', '(2,3)']
table4_6_1

            S_1       S_2  k1  k2     F_N_M
(1,2)  4.939030  2.349029  15  15  2.102584
(1,3)  4.939030  6.392477  15  15  1.294278
(2,3)  2.349029  6.392477  15  15  2.721327

In [457]:
z_kr = sps.f.ppf(0.975,k1,k2)

In [458]:
F_kr_value4_6 = [F_kr_1_2,F_kr_1_3,F_kr_2_3]
test4_6 = []
for i in range(len(F_kr_value4_6)): test4_6.append(F_kr_value4_6[i] <= z_kr)

In [459]:
table4_6_1 = pd.DataFrame({
                        'F_N_M':[F_kr_1_2,F_kr_1_3,F_kr_2_3],
                        'alpha':[z_kr, z_kr, z_kr],
                        'Conclusion':test4_6,
                        })
table4_6_1.index = ['(1,2)', '(1,3)', '(2,3)']
table4_6_1

          F_N_M     alpha  Conclusion
(1,2)  2.102584  4.008502        True
(1,3)  1.294278  4.008502        True
(2,3)  2.721327  4.008502        True

# Задание 4_7

In [419]:
pval4_7 = sps.bartlett(distr4_1_1,distr4_1_2,distr4_1_3)

In [422]:
table4_7_1 = pd.DataFrame({
                        'F_N_M':pval4_7[1],
                        'alpha':0.05,
                        'Conclusion': pval4_7[1] >= 0.05,
                        }, index=['value'])
table4_7_1

          F_N_M  alpha  Conclusion
value  0.166894   0.05        True